<div class="container">
  <div class="text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="well">
          <img src="images/Shaban.png" alt="SHABAN" width="200" height="200">
          <h1 style="color: black;" class="text-center"><b>Welcome to Shaban App</b></h1><br>
          <div class="form-group">

            <span><h3>
              <p align="justify">
              The Shaban app helps students achieve their goal of education and allow them to pursue health careers, learn English and build connections to professors and other academics on a global scale.
              </p><br>

                <p align="justify">
                  For more information on the Syrian Education Program, the GIHHR, and other projects,
                  click the following: <a href="http://www.albany.edu/gihhr/index.php">http://www.albany.edu/gihhr/index.php</a>.
                </p><br>

                <p align="justify">
                  Click <a href="https://play.google.com/store/apps/details?id=com.shaban.darenliu.chatroom&hl=en">Shaban</a> to download Android app.
                </p>
              </h3>
            </span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
