<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4 class="text-center">Registered Users</h4>
      <table class='table table-striped'>
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <% for (user of users) { %>
        <tr>
          <td>
            <label class="text-center"><%= user.firstName %></label>
          </td>
          <td>
            <label class="text-center"><%= user.lastName %></label>
          </td>
          <td>
            <label class="text-center"><%= user.phone %></label>
          </td>
          <td>
            <% if (user.roleId == 1) { %> <label class="text-center">Student</label>  <%} %>
            <% if (user.roleId == 2) { %> <label class="text-center">Instructor</label>  <%} %>
            <% if (user.roleId == 3) { %> <label class="text-center">Admin</label>  <%} %>
          </td>
        </tr>
        <%} %>
        </tbody>
      </table>
    </div>
  </div>
</div>
